.form-wrapper {
    position: absolute;
    top: 26%;
    left: 4%;
    right: 4%;
    box-shadow: none;
    border: 30px;
    padding: 15px 10px;
    transition: 
    0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(10px);
}

.titulo-card{
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.item-card{
    padding-top: 5%;
}

.icono-login{
    padding-right: 3%;
}

.boton-recuperar{
    padding:20px 15px;
}