<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="form-wrapper">
    <ion-card-title class="titulo-card" >Recuperar contraseña</ion-card-title>
    <ion-card-content>
      <ion-item class="item-card">
        <ion-icon class="icono-login" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="usuario" type="text" placeholder="Usuario"></ion-input>
      </ion-item>
    </ion-card-content>
  
    <ion-button class="boton-recuperar" expand="block" (click)="recuperar()">Restablecer</ion-button>
  </ion-card>

  <ion-card *ngIf="mostrarTarjeta" class="validacion">
    <ion-card-header>
      <ion-card-title>Restablecer Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon class="icono-login" name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="contrasena" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon class="icono-login" name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="contrasena_val" type="password" placeholder="Confirmar Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button class="boton-home" expand="block" (click)="restablecer()">Restablecer</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
